#user-page {
  height: 100%;
  padding-left: 70px;
  padding-right: 24px;
}
.container-user-info{
    display: grid;
    grid-template-columns: auto auto;
    column-gap: 8px;
    row-gap: 20px; 
    font-size: 18;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);    
}